version: "3"

services:
  test-redis:
    image: redis
    ports:
      - 6380:6379
  test-postgres:
    image: postgres
    ports:
      - 5433:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=mysecretpassword
      - POSTGRES_DB=test
