version: "3"

services:
  app:
    image: iagosrm/nodejs-poc
    ports:
      - 3000:3000
    depends_on:
      postgres:
        condition: service_healthy
    command: ["./wait-for-it.sh", "db:5432", "--", "npm", "start"]

  redis:
    image: redis
    ports:
      - 6379:6379
  postgres:
    image: postgres
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=mysecretpassword
      - POSTGRES_DB=test
    volumes:
      - ${HOME}/postgres-data/:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
